body {
  background-color: antiquewhite;
}

/* body {
  background-color: antiquewhite;

  font-family: "Space Mono", monospace;
} */
/* 
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: hsla(60, 100%, 25%, 0.3);
  color: #fff;
}
.nav-links a {
  color: rgba(0, 0, 0, 0.795);
}

.menu {
  display: flex;
  gap: 0.5em;
  font-size: 18px;
}
.menu li:hover {
  background-color: rgba(0, 0, 0, 0.322);
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}

h1,
h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
}

div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  display: block;
  height: auto;
  filter: drop-shadow(0 -6mm 4mm rgba(0, 0, 0, 0.253));
}

.content {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.food-description {
  text-align: center;
  height: 200px;
  border: black 1px dotted;
  margin-top: 20px;
  width: 100%;
}

a {
  display: inline;
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}

a:hover {
  color: rgba(0, 0, 0, 0.596);
}

table,
th,
td {
  border: black solid 2px;
}

.form {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

footer {
  position: relative;
  height: 1rem;
  margin-top: 10px;
}

footer ul {
  position: relative;
  width: 100%;
  padding-left: 0;
} */

/* footer div { */
/* height: 75px; */
/* position: relative;
  width: 100%;
  background-color: hsla(60, 100%, 25%, 0.3);
} */
